/*Reset browser CSS*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    	padding: 0px;
    	margin: 0px;
    	height: 100%;
    	overflow: auto;
    	background: #042729;
	text-align:center;
    	font-family: 'Gayathri', sans-serif;
}

#rain{
    position: absolute;
    left: 0px;
    top: 0px;
    user-select: none;
}

h1{
    text-align: center;
    margin-top: 170px;
    font-size: 52px;
    position: relative;
    color: white;
	transition-property: font-size;
	transition-duration: 5s;
	transition-delay: 2s;
}
p {
	text-align: center;
    	margin-top: 100px;
    	font-size: 32px;
    	position: relative;
    	color: white;

}
h3 {
	text-align: center;
    	margin-top: 100px;
    	font-size: 24px;
    	position: relative;
    	color: white;
	text-align:justify;
	margin-left: 40px;
	margin-right: 40px;
}

h4 {
	margin: 5px 2px;
	padding: 20px;
}

span.welcome{
    text-align: center;
    margin-top: 130px;
    font-size: 52px;
    position: relative;
    color: white;
	transition-property: font-size;
	transition-duration: 5s;
	transition-delay: 2s;
}

h1:hover{
	font-size:70px;
	-webkit-transition: all 2000ms ease;
	-moz-transition: all 2000ms ease;
	-ms-transition: all 2000ms ease;
	-o-transition: all 2000ms ease;
	transition: all 2000ms ease;
  	transition: 2s;
  	opacity: 0.8;
}
span.welcome:hover{
	font-size:120px;
	-webkit-transition: all 2000ms ease;
	-moz-transition: all 2000ms ease;
	-ms-transition: all 2000ms ease;
	-o-transition: all 2000ms ease;
	transition: all 2000ms ease;
  	transition: 2s;
  	opacity: 0.9;

}

/*h2 peakirjad- ehk siis minust jne*/
h2{
    text-align: center;
    margin-top: 200px;
    font-size: 22px;
    position: relative;
    color: white;
	transition-property: font-size;
	transition-duration: 5s;
	transition-delay: 2s;
}
span.welcome2{
    text-align: center;
    margin-top: 200px;
    font-size: 22px;
    position: relative;
    color: white;
	transition-property: font-size;
	transition-duration: 5s;
	transition-delay: 2s;
}

h2:hover{
	font-size:30px;
	-webkit-transition: all 2000ms ease;
	-moz-transition: all 2000ms ease;
	-ms-transition: all 2000ms ease;
	-o-transition: all 2000ms ease;
	transition: all 2000ms ease;
  	transition: 2s;
  	opacity: 0.8;
}
span.welcome2:hover{
	font-size:30px;
	-webkit-transition: all 2000ms ease;
	-moz-transition: all 2000ms ease;
	-ms-transition: all 2000ms ease;
	-o-transition: all 2000ms ease;
	transition: all 2000ms ease;
  	transition: 2s;
  	opacity: 0.9;

}


#options{
    text-align: center;
    margin-top: 50px;
    position: relative;
    z-index: 2;
}


#options button{
    padding: 20px;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    border: 1px solid #95a5a6;
	position: relative;
}

@media only screen and (max-width: 600px) {
    .raindrop:nth-child(3) {
        display: none;
    }
}
/*Drop-down menu button*/

.dropbtn {
  background-color: #00a8ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #00a8ff;
  border-radius:5px 0px 0px 5px;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0984e3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #00a8ff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #00a8ff;}


#load {
  position:absolute;
  width:1000px;
  height:60px;
  left:40%;
  top:60%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:40px;
  height:40px;
  opacity:0;
  font-family: 'Gayathri', sans-serif;
  animation:move 4s linear infinite;
  -o-animation:move 4s linear infinite;
  -moz-animation:move 4s linear infinite;
  -webkit-animation:move 4s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#35C4F0;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}
#load div:nth-child(8) {
  animation-delay:1.4s;
  -o-animation-delay:1.4s;
  -moz-animation-delay:1.4s;
  -webkit-animation-delay:1.4s;
}
#load div:nth-child(9) {
  animation-delay:1.6s;
  -o-animation-delay:1.6s;
  -moz-animation-delay:1.6s;
  -webkit-animation-delay:1.6s;
}
#load div:nth-child(10) {
  animation-delay:1.8s;
  -o-animation-delay:1.8s;
  -moz-animation-delay:1.8s;
  -webkit-animation-delay:1.8s;
}
#load div:nth-child(11) {
  animation-delay:2.0s;
  -o-animation-delay:2.0s;
  -moz-animation-delay:2.0s;
  -webkit-animation-delay:2.0s;
}
#load div:nth-child(12) {
  animation-delay:2.2s;
  -o-animation-delay:2.2s;
  -moz-animation-delay:2.2s;
  -webkit-animation-delay:2.2s;
}
#load div:nth-child(13) {
  animation-delay:2.4s;
  -o-animation-delay:2.4s;
  -moz-animation-delay:2.4s;
  -webkit-animation-delay:2.4s;
}
#load div:nth-child(14) {
  animation-delay:2.6s;
  -o-animation-delay:2.6s;
  -moz-animation-delay:2.6s;
  -webkit-animation-delay:2.6s;
}



@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%; 
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		-webkit-transform:rotate(-180deg); 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-moz-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-webkit-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}

@-o-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}
.svg-wrapper {
  height: 60px;
	margin: 0 auto;
  position: static;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 24px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-decoration: none;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
#footer {
            position: absolute;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 40px;
            /*background: grey;*/
		color:white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/*Dark mode things*/
.dark-mode {
  background-color: #8d9c9c;
  color: black;
}

body {
  background-color: #042729;
  color: white;
}

/*The little boxes where are font awesome icons and links*/
.container {
    	margin:auto;
    	max-width:1100px;
    	padding:0 20px;
}
.bg-dark {
    	color:#fff;
	font-size:16px;
}
.bg-dark a {
    	color:#fff;
	font-size:16px;
}
.bg-dark a:hover {
    	color:#19f6e8;
	font-size:20px;
}
.bg-dark h4:hover {
    	color:#19f6e8;
	font-size:20px;
}